body {
    background-color: antiquewhite;
}

h1 {
    width: 20%;
}

input {
    background-color: #fff;
}

input[type="text"] {
    padding: 10px 10px 10px 40px;
    width: 300px;
    height: 20px;
    border-radius: 30px;
    background: url(img/search.svg) 15px center/6% no-repeat;
    font-size: 20px;
}